<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="FineUI.Pro" type="FineUI.Pro.ConfigSection, FineUI.Pro" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="MySQL" connectionString="Server=localhost;Database=fineui_pro_appbox;Uid=root;Pwd=pass;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<FineUI.Pro DebugMode="true"
				 AllowDangerousRawTag="false"
				 AllowDangerousScriptTag="false"
				 EnableImplicitPostBack="false"
				 EnableImplicitChangeEvents="false"
				 Theme="Pure_Black"
				 EnableAnimation="false"
				 MobileAdaption="false"
				 CustomScrollbar="true"
				 FormRedStarPosition="BeforeText"
				 FormLabelAlign="Right"
				 GridHeaderFilterIconVisible="true"
				 GridHeaderSortIconVisible="true"
				 GridPagingToolbarVisible="true"
				 GridPagerAlignRight="true"
				 GridShowSelectionMessage="true"
				 GridPagingType="Arrow" />
	<appSettings/>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
			<controls>
				<add assembly="FineUI.Pro" namespace="FineUI.Pro" tagPrefix="f"/>
			</controls>
		</pages>
		<httpModules>
			<add name="FineUI.ProScriptModule" type="FineUI.Pro.ScriptModule, FineUI.Pro"/>
		</httpModules>
		<httpHandlers>
			<add verb="GET" path="res.axd" type="FineUI.Pro.ResourceHandler, FineUI.Pro" validate="false"/>
		</httpHandlers>
		<httpRuntime/>
		<compilation debug="true" targetFramework="4.8"/>
		<customErrors mode="RemoteOnly"/>
		<authentication mode="Forms">
			<forms name=".FINEUI_PRO_APPBOX_DAPPER_FORMS_AUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
	<!-- 公开页：public 目录下的页面一律无需登录（站点根的 authorization 是 deny users="?"，即默认全站要求登录）。
	     新增一个公开页只要放进这个目录，本文件不用再改；它同时覆盖首屏 GET 与回发 POST。 -->
	<location path="public">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="icon">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="res">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="res.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="__browserLink">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
